<!DOCTYPE html>
<head>
    <link href="bootstrap.css" rel="stylesheet">
</head>

<body ng-app="myApp">
    
    Popup aligned to the right:
    <input type="text" ng-model="date1" datepicker-popup datepicker-position="right"/> <br>

    Popup aligned to the left:
    <input type="text" ng-model="date2" datepicker-popup/> <br>

    <script src="jquery.js"></script>
    <script src="angular.js"></script>
    <script src="ui-bootstrap-tpls.js"></script>
    <script src="app.js"></script>
    <script src="datepicker-position.js"></script>
</body>
</html>
